<!doctype html>
<html>
  <head>
    <title>clodiem</title>
    <link rel="stylesheet" href="/css/global.css">
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
  </head>
  <body>
    <h1>Results for {{query}}</h1>
    <span>No results</span><br>
    <a href="/aisle">Go back to aisle</a>
  </body>
</html>